/* Basis */
#profile{
    align-items: center;
    margin: 20px auto 20px;
}

#profile #owner-icon{
    display: flex;
    justify-content: center;
}

#message{
    text-align: center;
    padding: 30px 0;
}

.server-msg{
    color: greenyellow;
    font-weight: 700;
}

#panel{
    display: flex;
}

#panel #menu {
    padding: 0;
    text-align: center;
}

#panel #menu .nav-item a{
    padding: 20px 0;
    font-size: 20px;
}

#panel #studio{
    padding: 20px 0 20px 30px;
    background-image: url("../images/yoga-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #B6D3DB;
    border-left: 1px solid #000;
}

#panel #studio .info{
    width: 60%;
    margin: auto;
}

#panel #studio .info h3{
    padding-bottom: 20px;
}

#panel #studio .info > form .form-floating{
    margin-bottom: 20px;
}

#panel #studio .info > form #photos{
    display: flex;
    flex-wrap: wrap;
}

#panel #studio .info > form #photos > .photo{
    position: relative;
    width: 40%;
    margin: 5px 5%;
}

#panel #studio .info > form #photos img{
    width: 100%;
}

#panel #studio .info > form #photos .bi-x-circle-fill{
    position: absolute;
	right: 0;
	top: 0;
}

#panel #studio .info > form .equipments label{
    margin-right: 20px;
}

#panel #studio .info > form .equipments input[type="checkbox"]{
    margin-right: 2px;
}

#panel #studio .info > form button[type="submit"]{
    margin-top: 50px;
}

/* Status */
.chosen{
    border: 1px solid #ff0000 !important;
}
