.container{
    margin: 0;
}


.login-image{
    padding:0;
}


.login-image img{
    height:100vh;
    max-width: 100%;
    object-fit: cover;
}

.login{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#F7F7F7;
}

#login-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#login-form h2{
    font-weight: 200;
    font-size: 25px;
}

input:not([type="submit"]){
    display: block;
    margin:6px 0px;
    height:50px;
    border:rgba(128, 128, 128, 0.193) solid 1px;
    border-radius: 5px;
    padding:10px;
}

input[type="submit"]{
    margin:20px 0px;
    border-radius: 5px;
    border:rgba(128, 128, 128, 0.193) solid 2px;
    padding:5px;
    background-color: #6A76D8;
    color:white;
    font-weight: bold;
    font-size: 12px;
}

@media only screen and (max-width: 575px){
    body{
        background-color:#dbdada;
    }

    .container-fluid{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding:50px;
    }

    .row{
        
        border-radius: 10px;
        overflow: hidden;
    }
    
    .login-image img{
        height:25vh;
        width: 100vw; 
        object-fit: cover;
    }

    .login h1{
        margin-top:10px;
    }

    
    
}

@media only screen and (max-height: 400px){
    .container-fluid{
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        padding:50px;
    }

}



