.message {
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

i{
    font-size: 100px;
    color:#6A76D8;
    
}

.message a{
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border:rgba(128, 128, 128, 0.193) solid 2px;
    padding:5px;
    background-color: #6A76D8;
    color:white;
    font-weight: bold;
    font-size: 15px;
}


.message a:hover{
    background-color: #2e356c;
    color:white;
    cursor: pointer;
}