/* nav bar */

.navbar-brand img{
    height:40px;
}
    
#navbarSupportedContent li{
    list-style-type:none;
}
    
li.nav-item-right{
    background-color: #6A76D8;
    padding:10px;
    color:white;
    border-radius: 10px;
    font-weight:bold;
}

li.nav-item-right:hover{
    background-color: #2e356c;
    cursor: pointer;
}

.message{
    padding:50px;
    display: flex;
    flex-direction: column;
   justify-content: center; /* Horizontally center the content */
   align-items: center; /* Vertically center the content */
   text-align: center;

}


.message img{
    height:120px;
    width:700px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius:10px;
}

.message h1{
    font-size: 60px;
}

.message h5{
    font-weight: 300;
}


.booking-info{
    display: flex;
    justify-content: center;
    align-items: center;
   flex-wrap: wrap;
    margin-top: 40px;
    gap:5px;
    text-align: center;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    
}

.bi-clipboard{
    cursor: pointer;
}

.message button{
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border:rgba(128, 128, 128, 0.193) solid 2px;
    padding:5px;
    background-color: #6A76D8;
    color:white;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 1s;
    margin: 0 5px;
} 

.message button:hover{
    background-color: #2e356c;
    cursor: pointer;
    transition: background-color 1s;
}


#footer{
    padding:50px;
    background-color: #dde1ff;
}

#footer img{
    height:80px;
    transform: translateX(-30px);
}

#footer p{
    margin-bottom: 3px;
    font-size: 12px;
}

.right-reserved{
    margin-top: 20px;
}